*
{
    padding: 0;
    margin: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}

html
{
    --black: #082448;
    --white: #FAFAFA;
    --light-blue: #E0ECFF;
    --blue: #3458FF;
    --red: #E83F58;
    --overlay: #040911;
    --background: #F6FAFF;
    --icons-details: #A5B0C1;

    --gray-dark: #4D5E77;
    --gray-blue: #A1B2CD;
    --gray-light: #ESEAF1;

    font-size: 62.5%;
}

body
{
    height: 100vh;
    background: var( --background );
}

body, button, input, textarea
{
    font-size: clamp( 14px, 1.6rem, 2vw );

    font-family: 'Open Sans', sans-serif;
}

.content
{
    width: 100%;
    margin: 0 auto;
}

.sr-only
{
    position: absolute;
    height: 1px;
    width: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: rect( 0, 0, 0, 0 );
    white-space: nowrap;
    border-width: 0;
}

/* Input and Buttons */
input, button, .button
{
   border-radius: .8rem;
   height: 5rem;
}

button, .button
{
    font-family:  'Poppins';
    font-weight: 500;
    line-height: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    background: var( --blue );
    color: var( --white );

    cursor: pointer;

    transition: 0.4s;
}

button:hover,
.button:hover
{
    filter: brightness( 1.2 );
}

button > img
.button > img
{
    margin-right: 1rem;
    width: 2rem;
}

button.outlined,
.button.outlined
{
    background: var( --white );
    color: var( --blue );
    border: .2rem solid var( --blue );
}

.content header
{
    margin: 3.5rem auto;
    width: 80%;
}

.content header img
{
    width: 16.7rem;
}
