<!DOCTYPE html>

<html lang="pt-br">

    <head>
        <title>Criar Sala - Roquet.Q</title>
        <!-- X-UA -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <!-- Char -->
        <meta charset="UTF-8">
        <!-- View Port -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta>
        <!-- CSS -->
        <link type="text/css" rel="stylesheet" href="/styles/main.css"/>
        <link type="text/css" rel="stylesheet" href="/styles/home.css"/>
        <!-- FONTS -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500;700&display=swap" rel="stylesheet">
    </head>

    <body>
        <div id="home" class="content">
            <header>
                <a href="/">
                    <img src="/images/Logo.svg" alt="Rocket.Q Logo"/>
                </a>
            </header>
            <div id="bg">
                <div class="ball top"></div>
                <div class="ball bottom"></div>
            </div>
            <main>
                <div class="container">
                    <!-- RENDER -->
                    <%- include(`parts/${page}`) %>
                </div>
            </main>
        </div>
    </body>
</html>    
