<html>
    <head>
        <title>Senha errada!</title>
        <script>
            confirm('Senha Incorreta!');
            window.location.replace('/room/<%= roomId %>');
        </script>
    </head>
</html>
