<div class="noquest">
    <img src="/images/semquest.svg" alt="Sem pergunta"> 
    <p>Nenhuma pergunta por aqui...</p> 
    <p>Faça sua primeira pergunta e envie<br/> o código dessa sala para outras pessoas</p>
</div>
