<section>
    <h2>Crie sua própria sala</h2>
    <form method="POST" action="/room/new-room">
        <label class="sr-only" for="codigo">Insira uma senha</label>
        <input type="password" name="password" id="codigo" placeholder="Insira uma senha">
        <button>
            <img src="/images/user_white.svg" alt="Entrar na sala">
            Criar Sala
        </button>
    </form>
</section>
