<section>
    <h2>Entre como Participante</h2>
    <form action="#">
        <label class="sr-only" for="codigo">Código da sala</label>
        <input type="number" id="codigo" placeholder="Codigo da sala">
        <button>
            <img src="/images/login.svg" alt="Entrar na sala">
            Entrar na sala
        </button>
    </form>
</section>

<div class="separator">
    <div></div>
    <div>ou</div>
    <div></div>
</div>

<section>
    <h2>Crie sua própria sala de forma fácil</h2>
    <a href="/pass" class="button outlined">
        <img src="/images/user.svg" alt="Criar sala"/>
        Criar Sala
    </a>
</section>
